<html>
    <body>
        {% if name %}
            <h1>Hello {{ name }}</h1>
        {% else %}
            <h1>Hello World</h1>
        {% endif %}
        <ul>
            {% for product in products %}
                <li>{{ product.id }} - {{ product.customer.first_name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>